html, body {
   font-size: 100%;
   line-height: 1.4;
   background-color: #4C88C9;
   color: white;
    margin: 0;
}

#spacer {
  width: 300px;
  height: 40px;
}

h1, h2 {
   font-family: 'Karla', helvetica, arial, sans-serif;
   font-weight: bold;
   text-align: center;
}

header {
    margin: 20px;
}

header h1 {
   font-size: 3em;
    margin: 0;
}

h2 {
   font-size: 1em;
   font-weight: lighter;
}

section {
    width: 400px;
    margin: 0 auto;
}

section h1 {
    font-size: 2em;
    border-bottom: 3px solid #EADDB4;
    border-top: 3px solid #EADDB4;
    text-align: center;
    margin-bottom: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
}

section div {
    margin: 0 auto;
    width: inherit;
    overflow: auto;
}

ul {
    float: left;
    font-family: 'Roboto', helvetica, arial, sans-serif;
    font-size: 1.2em;
    list-style-type: none;
    letter-spacing: 0.05em;
    padding: 0;
    text-align: center;
}

li {
    width: 200px;
    height: 40px;
    margin: 20px 0;

}

a {
  color: white;
    text-decoration: none;

}

a:hover {
 color: #f1c232;
    text-decoration: underline;
}

@media (max-width: 500px) {
    header {
        background-color: #092451;
        text-align: center;
        margin: 0 0 20px 0;
        padding: 15px;
    }
}
