#container {
	width: 9900px;
	height: 680px;
	margin-left: 400px;
}

#heading {
	width: 690px;
	margin: 90px auto auto 55px;
}

.quote {
	width: 345px;
	margin: auto 50px auto auto;
	float: left;
} 

#whitecolumn {
	width: 300px;
	height: 650px;
	position: fixed;
	left: 0px;
	background-color: white;
	padding-left: 100px;
	float: left;
}

#navigation {
	text-align: right;
	font-family: ;
	font-size: 14px;
}

#gradientblack {
	background-color: black;
	width: 264px;
	height: 30px;
	margin-top: 330px;
	position: fixed;
	z-index: 1px;
}

#didik {
	margin: 30px auto auto auto;
	float: left;
	position: fixed;
}

.pages {
	width: 800px;
	height: 550px;
	float: left;
	margin: 65px 60px auto auto;
	border-right: 1px solid white;
}

ul {
	list-style-type: none;
	margin-right: 30px;
}

h1 {
	font-family: Futura;
	font-variant: small-caps;
	font-size: 50px;
}

h2 {
	font-family: Futura;
	font-size: 30px;
	text-transform: uppercase;
	text-align: right;
	margin-right: 30px;
}

h3 {
	font-family: Futura;
	font-size: 17px;
}

p {
	font-family: 'Dosis';
	font-size: 15px;
	text-align: justify;
}

a {
	text-decoration: none;
	font-family: 'Dosis';
	color: black;
}

a:hover {
	color: orange;
	font-size: 18px;
}

.images {
	float: left;
	margin: 75px 60px auto auto;
}