body {
	width: 900px;
	margin: auto;
}
#god {
	width: 200px;
	height: 400px;
	float: left;
	margin: 10px;
}
#camera {
	float: left;
	width: 200px;
	height: 400px;
	position: relative;
	z-index: 2;
	text-align: left;
	/*opacity: 0;*/
	top: 80px;
	margin: 0px;
	/*background: #DEFBFE;*/
	background: #ffffff;
	/*transition-property: opacity;
	transition-duration: 0.5s;
	transition-delay: .2s;
	transition-timing-function: linear;
}

#camera:hover {
	opacity: 0.7;
}
*/
}
p{
	margin-top: 50px;
	color: #000000;
	position: relative;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 18pt;
	line-height: 26pt;

}
span {
	font-family: 'Slabo 27px', serif;
	font-size: 13pt;
	line-height: 17pt;
}