

#div1 {
  height:1327px;
  width:936px;
  background-color:#8d8c78;
  float:left;
}
#greenbox {
  height: 1327px;
  width: 936px;
  background-color: #8d8c78;
  float: left;
}

#darkbox {
  height: 688px;
  width: 877px;
  margin-top:100px;
  float: left;
  background-color: #302e24;
}


#orangebox {
  height: 295px;
  width: 877px;
  float: left;
  margin-bottom: 100px;
  background-color: #f6be43;
}

#ballett {
  font-family: helvetica;
  color: #f6be43;
  text-align: left;
  font-size:255px;
  font-weight: bold;
  letter-spacing: -5px;
  z-index: 9999;
}

#t {
  font-family: helvetica;
  color: #f6be43;
  text-align: left;
  font-size:255px;
  font-weight: bold;
  top: 200px;
  letter-spacing: -5px;
  z-index: 9999;
}

#title {
  font-family: helvetica;
  color: #ffffff;
  text-align: left;
  font-size:158px;
  font-weight: bold;
  bottom: 0px;
  line-height:150px;
  letter-spacing: -4px;
}

#paraleft {
  font-family: helvetica;
  color: #302e24;
  text-align: left;
  font-size:20px;
  font-weight: lighter;
  z-index: 9999;
  line-height: auto;
  letter-spacing: 0.5px;
}

#parabottom {
  font-family: helvetica;
  color: #302e24;
  text-align: left;
  font-size:20px;
  font-weight: lighter;
  z-index: 9999;
  line-height: 21px;
  letter-spacing: 0.5px;
}

#giselle {
  font-family: helvetica;
  color: #302e24;
  text-align: left;
  font-size:20px;
  font-weight: lighter;
  z-index: 9999;
  line-height: 21px;
  letter-spacing: 0.5px;
}

#Musik {
  font-family: helvetica;
  color: #302e24;
  text-align: left;
  font-size:20px;
  font-weight: lighter;
  z-index: 9999;
  line-height: 21px;
  letter-spacing: 0.5px;
}

#polowetzer {
  font-family: helvetica;
  color: #302e24;
  text-align: left;
  font-size:20px;
  font-weight: lighter;
  z-index: 9999;
  line-height: 21px;
  letter-spacing: 0.5px;
}

#musikvon {
  font-family: helvetica;
  color: #302e24;
  text-align: left;
  font-size:20px;
  font-weight: lighter;
  z-index: 9999;
  line-height: 21px;
  letter-spacing: 0.5px;
}

#undas {
  font-family: helvetica;
  color: #302e24;
  text-align: left;
  font-size:20px;
  font-weight: lighter;
  margin-top:-10px;
  z-index: 9999;
  line-height: 21px;
  letter-spacing: 0.5px;
}