#container {
    margin: auto;
}
h1 {
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
}
h3 {
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
}
li {
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
}