@import url();

.dot {
	height: 15px;
	width: 15px;
	border-radius: 50%;
	background-color: white;
}
/*begin sunglasses dots*/
.p2 .dot {
  background-color: #FF0080;
}
.p3 .dot {
  background-color: #FF0080;
}
.p4 .dot {
  background-color: #FF0080;
}
.p5 .dot {
  background-color: #FF0080;
}
.p6 .dot {
  background-color: #FF0080;
}
.p7 .dot {
  background-color: #FF0080;
}
.p8 .dot {
  background-color: #FF0080;
}
.p9 .dot {
  background-color: #FF0080;
}
.p10 .dot {
  background-color: #FF0080;
}
.p11 .dot {
  background-color: #FF0080;
}
.p12 .dot {
  background-color: #FF0080;
}
.p13 .dot {
  background-color: #FF0080;
}
.p14 .dot {
  background-color: #FF0080;
}
.p15 .dot {
  background-color: #FF0080;
}
.p16 .dot {
  background-color: #FF0080;
}
.p17 .dot {
  background-color: #FF0080;
}
.p18 .dot {
  background-color: #FF0080;
}
.p19 .dot {
  background-color: #FF0080;
}
.p20 .dot {
  background-color: #FF0080;
}
.p21 .dot {
  background-color: #FF0080;
}
.p22 .dot {
  background-color: #FF0080;
}
.p23 .dot {
  background-color: #FF0080;
}
.p24 .dot {
  background-color: #FF0080;
}
.p25 .dot {
  background-color: #FF0080;
}
.p26 .dot {
  background-color: #FF0080;
}
.p27 .dot {
  background-color: #FF0080;
}
.p28 .dot {
  background-color: #FF0080;
}
.p29 .dot {
  background-color: #FF0080;
}
.p30 .dot {
  background-color: #FF0080;
}
.p31 .dot {
  background-color: #FF0080;
}
.p32 .dot {
  background-color: #FF0080;
}
.p33 .dot {
  background-color: #FF0080;
}
.p34 .dot {
  background-color: #FF0080;
}
.p35 .dot {
  background-color: #FF0080;
}
.p36 .dot {
  background-color: #FF0080;
}
.p37 .dot {
  background-color: #FF0080;
}
.p38 .dot {
  background-color: #FF0080;
}
.p39 .dot {
  background-color: #FF0080;
}
.p40 .dot {
  background-color: #FF0080;
}
.p41 .dot {
  background-color: #FF0080;
}
.p42 .dot {
  background-color: #FF0080;
}
.p43 .dot {
  background-color: #FF0080;
}
.p44 .dot {
  background-color: #FF0080;
}
.p45 .dot {
  background-color: #FF0080;
}
.p46 .dot {
  background-color: #FF0080;
}
.p47 .dot {
  background-color: #FF0080;
}
.p48 .dot {
  background-color: #FF0080;
}
.p49 .dot {
  background-color: #FF0080;
}
.p50 .dot {
  background-color: #FF0080;
}
.p51 .dot {
  background-color: #FF0080;
}
.p52 .dot {
  background-color: #FF0080;
}
.p53 .dot {
  background-color: #FF0080;
}
.p54 .dot {
  background-color: #FF0080;
}
.p55 .dot {
  background-color: #FF0080;
}
.p56 .dot {
  background-color: #FF0080;
}
.p57 .dot {
  background-color: #FF0080;
}
.p58 .dot {
  background-color: #FF0080;
}
.p59 .dot {
  background-color: #FF0080;
}
.p60 .dot {
  background-color: #FF0080;
}
/*end sunglasses dots*/
/*begin sneaker dots to page 120*/
.p61 .dot {
  background-color: #00FFFF;
}
.p62 .dot {
  background-color: #00FFFF;
}
.p63 .dot {
  background-color: #00FFFF;
}
.p64 .dot {
  background-color: #00FFFF;
}
.p65 .dot {
  background-color: #00FFFF;
}
.p66 .dot {
  background-color: #00FFFF;
}
.p67 .dot {
  background-color: #00FFFF;
}
.p68 .dot {
  background-color: #00FFFF;
}
.p69 .dot {
  background-color: #00FFFF;
}
.p70 .dot {
  background-color: #00FFFF;
}
.p71 .dot {
  background-color: #00FFFF;
}
.p72 .dot {
  background-color: #00FFFF;
}
.p73 .dot {
  background-color: #00FFFF;
}
.p74 .dot {
  background-color: #00FFFF;
}
.p75 .dot {
  background-color: #00FFFF;
}
.p76 .dot {
  background-color: #00FFFF;
}
.p77 .dot {
  background-color: #00FFFF;
}
.p78 .dot {
  background-color: #00FFFF;
}
.p79 .dot {
  background-color: #00FFFF;
}
.p80 .dot {
  background-color: #00FFFF;
}
.p81 .dot {
  background-color: #00FFFF;
}
.p82 .dot {
  background-color: #00FFFF;
}
.p83 .dot {
  background-color: #00FFFF;
}
.p84 .dot {
  background-color: #00FFFF;
}
.p85 .dot {
  background-color: #00FFFF;
}
.p86 .dot {
  background-color: #00FFFF;
}
.p87 .dot {
  background-color: #00FFFF;
}
.p88 .dot {
  background-color: #00FFFF;
}
.p89 .dot {
  background-color: #00FFFF;
}
.p90 .dot {
  background-color: #00FFFF;
}
.p91 .dot {
  background-color: #00FFFF;
}
.p92 .dot {
  background-color: #00FFFF;
}
.p93 .dot {
  background-color: #00FFFF;
}
.p94 .dot {
  background-color: #00FFFF;
}
.p95 .dot {
  background-color: #00FFFF;
}
.p96 .dot {
  background-color: #00FFFF;
}
.p97 .dot {
  background-color: #00FFFF;
}
.p98 .dot {
  background-color: #00FFFF;
}
.p99 .dot {
  background-color: #00FFFF;
}
.p100 .dot {
  background-color: #00FFFF;
}
.p101 .dot {
  background-color: #00FFFF;
}
.p102 .dot {
  background-color: #00FFFF;
}
.p103 .dot {
  background-color: #00FFFF;
}
.p104 .dot {
  background-color: #00FFFF;
}
.p105 .dot {
  background-color: #00FFFF;
}
.p106 .dot {
  background-color: #00FFFF;
}
.p107 .dot {
  background-color: #00FFFF;
}
.p108 .dot {
  background-color: #00FFFF;
}
.p109 .dot {
  background-color: #00FFFF;
}
.p110 .dot {
  background-color: #00FFFF;
}
.p111 .dot {
  background-color: #00FFFF;
}
.p112 .dot {
  background-color: #00FFFF;
}
.p113 .dot {
  background-color: #00FFFF;
}
.p114 .dot {
  background-color: #00FFFF;
}
.p115 .dot {
  background-color: #00FFFF;
}
.p116 .dot {
  background-color: #00FFFF;
}
.p117 .dot {
  background-color: #00FFFF;
}
.p118 .dot {
  background-color: #00FFFF;
}
.p119 .dot {
  background-color: #00FFFF;
}
.p120 .dot {
  background-color: #00FFFF;
}
.p121 .dot {
  background-color: #F3F315;
}
.p122 .dot {
  background-color: #F3F315;
}
.p123 .dot {
  background-color: #F3F315;
}
.p124 .dot {
  background-color: #F3F315;
}
.p125 .dot {
  background-color: #F3F315;
}
.p126 .dot {
  background-color: #F3F315;
}
.p127 .dot {
  background-color: #F3F315;
}
.p128 .dot {
  background-color: #F3F315;
}
.p129 .dot {
  background-color: #F3F315;
}
.p130 .dot {
  background-color: #F3F315;
}
.p131 .dot {
  background-color: #F3F315;
}
.p132 .dot {
  background-color: #F3F315;
}
.p133 .dot {
  background-color: #F3F315;
}
.p134 .dot {
  background-color: #F3F315;
}
.p135 .dot {
  background-color: #F3F315;
}
.p136 .dot {
  background-color: #F3F315;
}
.p137 .dot {
  background-color: #F3F315;
}
.p138 .dot {
  background-color: #F3F315;
}
.p139 .dot {
  background-color: #F3F315;
}
.p140 .dot {
  background-color: #F3F315;
}
.p141 .dot {
  background-color: #F3F315;
}
.p142 .dot {
  background-color: #F3F315;
}
.p143 .dot {
  background-color: #F3F315;
}
.p144 .dot {
  background-color: #F3F315;
}
.p145 .dot {
  background-color: #F3F315;
}
.p146 .dot {
  background-color: #F3F315;
}
.p147 .dot {
  background-color: #F3F315;
}
.p148 .dot {
  background-color: #F3F315;
}
.p149 .dot {
  background-color: #F3F315;
}
.p150 .dot {
  background-color: #F3F315;
}
.p151 .dot {
  background-color: #F3F315;
}
.p152 .dot {
  background-color: #F3F315;
}
.p153 .dot {
  background-color: #F3F315;
}
.p154 .dot {
  background-color: #F3F315;
}
.p155 .dot {
  background-color: #F3F315;
}
.p156 .dot {
  background-color: #F3F315;
}
.p157 .dot {
  background-color: #F3F315;
}
.p158 .dot {
  background-color: #F3F315;
}
.p159 .dot {
  background-color: #F3F315;
}
.p160 .dot {
  background-color: #F3F315;
}
.p161 .dot {
  background-color: #F3F315;
}
.p162 .dot {
  background-color: #F3F315;
}
.p163 .dot {
  background-color: #F3F315;
}
.p164 .dot {
  background-color: #F3F315;
}
.p165 .dot {
  background-color: #F3F315;
}
.p166 .dot {
  background-color: #F3F315;
}
.p167 .dot {
  background-color: #F3F315;
}
.p168 .dot {
  background-color: #F3F315;
}
.p169 .dot {
  background-color: #F3F315;
}
.p170 .dot {
  background-color: #F3F315;
}
.p171 .dot {
  background-color: #F3F315;
}
.p172 .dot {
  background-color: #F3F315;
}
.p173 .dot {
  background-color: #F3F315;
}
.p174 .dot {
  background-color: #F3F315;
}
.p175 .dot {
  background-color: #F3F315;
}
.p176 .dot {
  background-color: #F3F315;
}
.p177 .dot {
  background-color: #F3F315;
}
.p178 .dot {
  background-color: #F3F315;
}
.p179 .dot {
  background-color: #F3F315;
}
.p180 .dot {
  background-color: #F3F315;
}

body {
  font-family: 'FuturaBT-Book', sans-serif;
  text-decoration: none;
  color: black;
  background-color: black;
}

strong {
  font-family: 'FuturaBT-Bold', sans-serif;
  font-weight: normal;
}



/* ------- RESPONSIVE TIMELINE SLIDER ------- */

/* initial style for too narrow and too short */

#layout {
  padding-top: 40px;
  padding-bottom: 40px;
  width: 100%;
}

#content td {
  font-family: 'FuturaBT-Bold', sans-serif;
  visibility: hidden;
  color: black;
  font-size: 13px;
  height: 24px;
  width: 24px;
  text-align: center; 
  vertical-align: middle;
}


#timeline {
  height: 16px;
}

#timeline a {
  border-left: 1px solid #ccc;
  position: absolute;
  height: 16px;
  padding-left: 1px;
}

#timeline a #animation {
  border-left: 1px solid black;
}

#timeline .activePage,
#timeline a:hover {
  border-left: 1px solid #000;
  position: absolute;
  height: 30px;
  margin-top:-7px;
}

#timeline,
#content {
  width: 264px;
  margin-left: -132px;
}

#next,
#previous
{
  bottom: 27px;
}
#timeline {
  bottom: 20px;
}

#next {
  position: absolute;
  left: 50%;
  margin-left: -155px;
  height: 10px;
}

#previous {
  position: absolute;
  right: 50%;
  margin-right: -155px;
  height: 10px;
}

@media (min-width: 930px) {
  #next,
  #previous{
    top: 23px;
  }

  #timeline {
    top: 19px;
  }
  #next {
    margin-top: -5px;
  }
  #previous {
    margin-top: -5px;
  }
}


/* content wide enough to center in window */
@media (min-width: 264px) {
  #timeline,
  #content {
    position: absolute;
    left: 50%;
    margin-left: -132px;
  }
  #home {
    right: 50%;
  }
}

/* content tall enough to center in window */
@media (min-height: 370px) {
  #layout {
    position: absolute;
    top: 53%;
    height: 185px;
    margin-top: -185px;
  }
  /* back home > centered "sweethearts" button */
  #home {
    right: 50%;
    margin-right: -10px;
  }
}

/* desktop size, larger square */
@media (min-width: 650px) and (min-height: 586px) {
  #timeline,
  #content {
    width: 506px;
    margin-left: -253px;
  }
  #layout {
    /* overall height includes margin-top */
    top: 50%;
    height: 293px;
    margin-top: -293px;
  }
  #content td {
    font-size: 16px;
    height: 18px;
    width: 12px;
  }
  #next{
    margin-left: -280px;
  }
  #previous{
    margin-right: -280px;
  }
  /* back home > centered "sweethearts" button */
  #home {
    right: 50%;
    margin-right: -40px;
  }
}


/* ------- NAV ------- */

#about, #home, #colophon {
  top: 20px;
  position: absolute;
  font-family: 'FuturaBT-Book', sans-serif;
  letter-spacing: .05em;
  font-size: 13px;
}

#about {
  right: 20px;
}

#colophon {
  left: 20px;
}

#keyboard {
  font-size: 14px;
  font-family: 'FuturaBT-Book', sans-serif;
  font-size: 13px;
  color: #ccc;
  letter-spacing: .05em;
  visibility: hidden;
  text-align: center;
  margin-top: 50px;
}

#arrows {
  height: 0px;
}

.no-touch #arrows:hover #keyboard{
  visibility: visible;
  z-index: -999;
}

/*
.no-touch #timeline a #p94:active #p94popup {
  visibility: visible;
  z-index: -999;
}
*/

p {
  line-height: 140%;
}

a {
  text-decoration: none;
  color: #ccc;
}

a:hover, a.current {
  color: black;
}



/*
for n in range(0, 140): print "#timeline a:nth-child(%s){right: %s%%;}" % (n+1, (1 - (n/240.0))*100)
*/
#timeline a:nth-child(1){right: 100.0%;}
#timeline a:nth-child(2){right: 99.5833412666669%;}
#timeline a:nth-child(3){right: 99.1666745666669%;}
#timeline a:nth-child(4){right: 98.7500078666669%;}
#timeline a:nth-child(5){right: 98.3333411666669%;}
#timeline a:nth-child(6){right: 97.9166744666669%;}
#timeline a:nth-child(7){right: 97.5000077666669%;}
#timeline a:nth-child(8){right: 97.08334107%;}
#timeline a:nth-child(9){right: 96.666674374%;}
#timeline a:nth-child(10){right: 96.25000767%;}
#timeline a:nth-child(11){right: 95.83334097%;}
#timeline a:nth-child(12){right: 95.41667427%;}
#timeline a:nth-child(13){right: 95.00000757%;}
#timeline a:nth-child(14){right: 94.58334087%;}
#timeline a:nth-child(15){right: 94.16667417%;}
#timeline a:nth-child(16){right: 93.75000747%;}
#timeline a:nth-child(17){right: 93.33334077%;}
#timeline a:nth-child(18){right: 92.91667407%;}
#timeline a:nth-child(19){right: 92.50000737%;}
#timeline a:nth-child(20){right: 92.08334067%;}
#timeline a:nth-child(21){right: 91.66667397%;}
#timeline a:nth-child(22){right: 91.25000727%;}
#timeline a:nth-child(23){right: 90.83334057%;}
#timeline a:nth-child(24){right: 90.41667387%;}
#timeline a:nth-child(25){right: 90.00000717%;}
#timeline a:nth-child(26){right: 89.58334047%;}
#timeline a:nth-child(27){right: 89.16667377%;}
#timeline a:nth-child(28){right: 88.75000707%;}
#timeline a:nth-child(29){right: 88.33334037%;}
#timeline a:nth-child(30){right: 87.91667367%;}
#timeline a:nth-child(31){right: 87.50000697%;}
#timeline a:nth-child(32){right: 87.08334027%;}
#timeline a:nth-child(33){right: 86.66667357%;}
#timeline a:nth-child(34){right: 86.25000687%;}
#timeline a:nth-child(35){right: 85.83334017%;}
#timeline a:nth-child(36){right: 85.41667347%;}
#timeline a:nth-child(37){right: 85.00000677%;}
#timeline a:nth-child(38){right: 84.58334007%;}
#timeline a:nth-child(39){right: 84.16667337%;}
#timeline a:nth-child(40){right: 83.75000667%;}
#timeline a:nth-child(41){right: 83.33333997%;}
#timeline a:nth-child(42){right: 82.91667327%;}
#timeline a:nth-child(43){right: 82.50000657%;}
#timeline a:nth-child(44){right: 82.08333987%;}
#timeline a:nth-child(45){right: 81.66667317%;}
#timeline a:nth-child(46){right: 81.25000647%;}
#timeline a:nth-child(47){right: 80.83333977%;}
#timeline a:nth-child(48){right: 80.41667307%;}
#timeline a:nth-child(49){right: 80.00000637%;}
#timeline a:nth-child(50){right: 79.58333967%;}
#timeline a:nth-child(51){right: 79.16667297%;}
#timeline a:nth-child(52){right: 78.75000627%;}
#timeline a:nth-child(53){right: 78.33333957%;}
#timeline a:nth-child(54){right: 77.91667287%;}
#timeline a:nth-child(55){right: 77.50000617%;}
#timeline a:nth-child(56){right: 77.08333947%;}
#timeline a:nth-child(57){right: 76.66667277%;}
#timeline a:nth-child(58){right: 76.25000607%;}
#timeline a:nth-child(59){right: 75.83333937%;}
#timeline a:nth-child(60){right: 75.41667267%;}
#timeline a:nth-child(61){right: 75.00000597%;}
#timeline a:nth-child(62){right: 74.58333927%;}
#timeline a:nth-child(63){right: 74.16667257%;}
#timeline a:nth-child(64){right: 73.75000587%;}
#timeline a:nth-child(65){right: 73.33333917%;}
#timeline a:nth-child(66){right: 72.91667247%;}
#timeline a:nth-child(67){right: 72.50000577%;}
#timeline a:nth-child(68){right: 72.08333907%;}
#timeline a:nth-child(69){right: 71.66667237%;}
#timeline a:nth-child(70){right: 71.25000567%;}
#timeline a:nth-child(71){right: 70.83333897%;}
#timeline a:nth-child(72){right: 70.41667227%;}
#timeline a:nth-child(73){right: 70.00000557%;}
#timeline a:nth-child(74){right: 69.58333887%;}
#timeline a:nth-child(75){right: 69.16667217%;}
#timeline a:nth-child(76){right: 68.75000547%;}
#timeline a:nth-child(77){right: 68.33333877%;}
#timeline a:nth-child(78){right: 67.91667207%;}
#timeline a:nth-child(79){right: 67.50000537%;}
#timeline a:nth-child(80){right: 67.08333867%;}
#timeline a:nth-child(81){right: 66.66667197%;}
#timeline a:nth-child(82){right: 66.25000527%;}
#timeline a:nth-child(83){right: 65.83333857%;}
#timeline a:nth-child(84){right: 65.41667187%;}
#timeline a:nth-child(85){right: 65.00000517%;}
#timeline a:nth-child(86){right: 64.58333847%;}
#timeline a:nth-child(87){right: 64.16667177%;}
#timeline a:nth-child(88){right: 63.75000507%;}
#timeline a:nth-child(89){right: 63.33333837%;}
#timeline a:nth-child(90){right: 62.91667167%;}
#timeline a:nth-child(91){right: 62.50000497%;}
#timeline a:nth-child(92){right: 62.08333827%;}
#timeline a:nth-child(93){right: 61.66667157%;}
#timeline a:nth-child(94){right: 61.25000487%;}
#timeline a:nth-child(95){right: 60.83333817%;}
#timeline a:nth-child(96){right: 60.41667147%;}
#timeline a:nth-child(97){right: 60.00000477%;}
#timeline a:nth-child(98){right: 59.58333807%;}
#timeline a:nth-child(99){right: 59.16667137%;}
#timeline a:nth-child(100){right: 58.75000467%;}
#timeline a:nth-child(101){right: 58.33333797%;}
#timeline a:nth-child(102){right: 57.91667127%;}
#timeline a:nth-child(103){right: 57.50000457%;}
#timeline a:nth-child(104){right: 57.08333787%;}
#timeline a:nth-child(105){right: 56.66667117%;}
#timeline a:nth-child(106){right: 56.25000447%;}
#timeline a:nth-child(107){right: 55.83333777%;}
#timeline a:nth-child(108){right: 55.41667107%;}
#timeline a:nth-child(109){right: 55.00000437%;}
#timeline a:nth-child(110){right: 54.58333767%;}
#timeline a:nth-child(111){right: 54.16667097%;}
#timeline a:nth-child(112){right: 53.75000427%;}
#timeline a:nth-child(113){right: 53.33333757%;}
#timeline a:nth-child(114){right: 52.91667087%;}
#timeline a:nth-child(115){right: 52.50000417%;}
#timeline a:nth-child(116){right: 52.08333747%;}
#timeline a:nth-child(117){right: 51.66667077%;}
#timeline a:nth-child(118){right: 51.25000407%;}
#timeline a:nth-child(119){right: 50.83333737%;}
#timeline a:nth-child(120){right: 50.41667067%;}
#timeline a:nth-child(121){right: 50.00000397%;}
#timeline a:nth-child(122){right: 49.58333727%;}
#timeline a:nth-child(123){right: 49.16667057%;}
#timeline a:nth-child(124){right: 48.75000387%;}
#timeline a:nth-child(125){right: 48.33333717%;}
#timeline a:nth-child(126){right: 47.91667047%;}
#timeline a:nth-child(127){right: 47.50000377%;}
#timeline a:nth-child(128){right: 47.08333707%;}
#timeline a:nth-child(129){right: 46.66667037%;}
#timeline a:nth-child(130){right: 46.25000367%;}
#timeline a:nth-child(131){right: 45.83333697%;}
#timeline a:nth-child(132){right: 45.41667027%;}
#timeline a:nth-child(133){right: 45.00000357%;}
#timeline a:nth-child(134){right: 44.58333687%;}
#timeline a:nth-child(135){right: 44.16667017%;}
#timeline a:nth-child(136){right: 43.75000347%;}
#timeline a:nth-child(137){right: 43.33333677%;}
#timeline a:nth-child(138){right: 42.91667007%;}
#timeline a:nth-child(139){right: 42.50000337%;}
#timeline a:nth-child(140){right: 42.08333667%;}
#timeline a:nth-child(141){right: 41.66666997%;}
#timeline a:nth-child(142){right: 41.25000327%;}
#timeline a:nth-child(143){right: 40.83333657%;}
#timeline a:nth-child(144){right: 40.41666987%;}
#timeline a:nth-child(145){right: 40.00000317%;}
#timeline a:nth-child(146){right: 39.58333647%;}
#timeline a:nth-child(147){right: 39.16666977%;}
#timeline a:nth-child(148){right: 38.75000307%;}
#timeline a:nth-child(149){right: 38.33333637%;}
#timeline a:nth-child(150){right: 37.91666967%;}
#timeline a:nth-child(151){right: 37.50000297%;}
#timeline a:nth-child(152){right: 37.08333627%;}
#timeline a:nth-child(153){right: 36.66666957%;}
#timeline a:nth-child(154){right: 36.25000287%;}
#timeline a:nth-child(155){right: 35.83333617%;}
#timeline a:nth-child(156){right: 35.41666947%;}
#timeline a:nth-child(157){right: 35.00000277%;}
#timeline a:nth-child(158){right: 34.58333607%;}
#timeline a:nth-child(159){right: 34.16666937%;}
#timeline a:nth-child(160){right: 33.75000267%;}
#timeline a:nth-child(161){right: 33.33333597%;}
#timeline a:nth-child(162){right: 32.91666927%;}
#timeline a:nth-child(163){right: 32.50000257%;}
#timeline a:nth-child(164){right: 32.08333587%;}
#timeline a:nth-child(165){right: 31.66666917%;}
#timeline a:nth-child(166){right: 31.25000247%;}
#timeline a:nth-child(167){right: 30.83333577%;}
#timeline a:nth-child(168){right: 30.41666907%;}
#timeline a:nth-child(169){right: 30.00000237%;}
#timeline a:nth-child(170){right: 29.58333567%;}
#timeline a:nth-child(171){right: 29.16666897%;}
#timeline a:nth-child(172){right: 28.75000227%;}
#timeline a:nth-child(173){right: 28.33333557%;}
#timeline a:nth-child(174){right: 27.91666887%;}
#timeline a:nth-child(175){right: 27.50000217%;}
#timeline a:nth-child(176){right: 27.08333547%;}
#timeline a:nth-child(177){right: 26.66666877%;}
#timeline a:nth-child(178){right: 26.25000207%;}
#timeline a:nth-child(179){right: 25.83333537%;}
#timeline a:nth-child(180){right: 25.41666867%;}
#timeline a:nth-child(181){right: 25.00000197%;}
#timeline a:nth-child(182){right: 24.58333527%;}
#timeline a:nth-child(183){right: 24.16666857%;}
#timeline a:nth-child(184){right: 23.75000187%;}
#timeline a:nth-child(185){right: 23.33333517%;}
#timeline a:nth-child(186){right: 22.91666847%;}
#timeline a:nth-child(187){right: 22.50000177%;}
#timeline a:nth-child(188){right: 22.08333507%;}
#timeline a:nth-child(189){right: 21.66666837%;}
#timeline a:nth-child(190){right: 21.25000167%;}
#timeline a:nth-child(191){right: 20.83333497%;}
#timeline a:nth-child(192){right: 20.41666827%;}
#timeline a:nth-child(193){right: 20.00000157%;}
#timeline a:nth-child(194){right: 19.58333487%;}
#timeline a:nth-child(195){right: 19.16666817%;}
#timeline a:nth-child(196){right: 18.75000147%;}
#timeline a:nth-child(197){right: 18.33333477%;}
#timeline a:nth-child(198){right: 17.91666807%;}
#timeline a:nth-child(199){right: 17.50000137%;}
#timeline a:nth-child(200){right: 17.08333467%;}
#timeline a:nth-child(201){right: 16.66666797%;}
#timeline a:nth-child(202){right: 16.25000127%;}
#timeline a:nth-child(203){right: 15.83333457%;}
#timeline a:nth-child(204){right: 15.41666787%;}
#timeline a:nth-child(205){right: 15.00000117%;}
#timeline a:nth-child(206){right: 14.58333447%;}
#timeline a:nth-child(207){right: 14.16666777%;}
#timeline a:nth-child(208){right: 13.75000107%;}
#timeline a:nth-child(209){right: 13.33333437%;}
#timeline a:nth-child(210){right: 12.91666767%;}
#timeline a:nth-child(211){right: 12.50000097%;}
#timeline a:nth-child(212){right: 12.08333427%;}
#timeline a:nth-child(213){right: 11.66666757%;}
#timeline a:nth-child(214){right: 11.25000087%;}
#timeline a:nth-child(215){right: 10.83333417%;}
#timeline a:nth-child(216){right: 10.41666747%;}
#timeline a:nth-child(217){right: 10.00000077%;}
#timeline a:nth-child(218){right: 9.583334067%;}
#timeline a:nth-child(219){right: 9.166667367%;}
#timeline a:nth-child(220){right: 8.750000667%;}
#timeline a:nth-child(221){right: 8.333333967%;}
#timeline a:nth-child(222){right: 7.916667267%;}
#timeline a:nth-child(223){right: 7.500000567%;}
#timeline a:nth-child(224){right: 7.083333867%;}
#timeline a:nth-child(225){right: 6.666667167%;}
#timeline a:nth-child(226){right: 6.250000467%;}
#timeline a:nth-child(227){right: 5.833333767%;}
#timeline a:nth-child(228){right: 5.416667067%;}
#timeline a:nth-child(229){right: 5.000000367%;}
#timeline a:nth-child(230){right: 4.583333667%;}
#timeline a:nth-child(231){right: 4.166666967%;}
#timeline a:nth-child(232){right: 3.750000267%;}
#timeline a:nth-child(233){right: 3.333333567%;}
#timeline a:nth-child(234){right: 2.916666867%;}
#timeline a:nth-child(235){right: 2.500000167%;}
#timeline a:nth-child(236){right: 2.083333467%;}
#timeline a:nth-child(237){right: 1.666666767%;}
#timeline a:nth-child(238){right: 1.250000067%;}
#timeline a:nth-child(239){right: 0.833333367%;}
#timeline a:nth-child(240){right: 0.416666667%;}
#timeline a:nth-child(241){right: 0.316666667%;}
#timeline a:nth-child(242){right: 0.316666667%;}
#timeline a:nth-child(243){right: 0.116666667%;}