body {
	width: 100%;
	height: 100%;
	margin: auto;
	background-color: black;
}

#container {
	width: 9800px;
	height: 500px;
	margin-top: 180px;
	margin-left: 200px;
}

.regular {
	width: 50px;
	height: 50px;
	text-align: center;
	font-size: 50pt;
	font-family: 'Avenir';
	color: black;
	float: left;
	color: white;
}

.small {
	width: 50px;
	height: 50px;
	text-align: center;
	font-size: 20pt;
	font-family: 'Avenir';
	color: #C9C3C2;
	float: left;
}

.space {
	width: 50px;
	height: 50px;
	background-color: transparent;
	float: left;
}

.columns {
	width: 50px;
	float: left;
}

#itsybitsy {
	width: 250px;
	height: 100px;
	float: left;
	text-align: center;
}

.spider {
	width: 50px;
	height: 50px;
	font-family: 'VT323';
	text-align: center;
	font-size: 50pt;
	color: yellow;
	float: left;
}

#the-went {
	width: 1050px;
	height: 100px;
	margin-top: 300px;
	text-align: center;
	float: left;
}

#up {
	width: 100px;
	height: 100px;
	float: left;
}

#the {
	float: left;
}

#waterspout {
	width: 600px;
	height: 200px;
	float: left;
}

#down {
	width: 200px;
	height: 200px;
	float: left;
}

#came-out {
	width: auto;
	height: 50px;
	margin-top: 400px;
	float: left;
}

#rain {
	width: 200px;
	height: auto;
	float: left;
}

#washed {
	width: 500px;
	height: 400px;
	float: left;
}

#came-went {
	width: auto;
	height: 50px;
	margin-top: 250px;
	float: left;
}

#sunshine {
	width: 500px;
	height: 250px;
	float: left;
}

#the-again {
	width: 950px;
	height: 50px;
	margin-top: 100px;
	float: left;
}

#back {
	width: 100px;
	height: auto;
	font-family: 'Avenir';
	font-size: 20px;
	margin-top: 450px;
	color: white;
	float: right;
}