p {
	font-size: 14px;
	font-family: "Source Sans Pro";
	text-align: right;
}

h6 {
	font-style: oblique;
	text-decoration: line-through;
}

h2 {
	text-decoration: overline;
}

h1 {
	font-variant: small-caps;
	text-shadow: 5px 10px 3px pink;
}

h3 {
	font-weight: 600;
}

