body {
	width: 100%;
	margin: auto;
}

.left {
	width: 30%;
	height: 100%;
	text-align: center;
	/*background: pink;*/
	float: left;
}

.right {
	width: 70%;
	height: 100%;
	/*background: yellow;*/
	float: right;
}

h3 {
	font-family: 'Avenir';
	font-size: 20px;
}