body {
	width: 100%;
	margin: auto;
}

.left {
	width: 30%;
	height: 100%;
	text-align: center;
	/*background: pink;*/
	float: left;
}

.right {
	width: 70%;
	height: 100%;
	/*background: yellow;*/
	float: right;
}

#projects {
	margin-top: 400px;
}

#exercises {
	margin-top: 50px;
}

h3 {
	font-family: 'Avenir';
	font-size: 20px;
	margin-top: 100px;
}

a {
	text-decoration: none;
	padding-left: 30px;
}

a:hover {
	color: orange;
}