h1 {
	font-family: 'Slabo 27px', serif;
	letter-spacing: .03em;
	color: #202f50;
	text-align: center;
}

h2 {
	font-family: 'Lato', sans-serif;
	font-size: 17px;
	letter-spacing: .05em;
	font-weight: bolder;
}

li {
	font-family: 'Merriweather', serif;
	font-size: 14px;
	line-height: 145%;
	font-weight: lighter;
}