#k {
	top: 100px;
	width: 100px;
	height: 100px;
	background-image: url('../images/k.png');
	background-repeat: no-repeat;
	position: relative;
	float: left;
	left: 100px;
}

#e {
	top: 100px;
	width: 100px;
	height: 100px;
	background-image: url('../images/e.png');
	background-repeat: no-repeat;
	position: relative;
	float: left;
	left: 70px;
}

#e2 {
	top: 100px;
	width: 100px;
	height: 100px;
	background-image: url('../images/e.png');
	background-repeat: no-repeat;
	position: relative;
	float: left;
	left: 40px;
}

#p {
	top: 100px;
	width: 100px;
	height: 100px;
	background-image: url('../images/p.png');
	background-repeat: no-repeat;
	position: relative;
	float: left;
	left: 10px;
}





#g {
	height: 20px;
	width: 500px;
	background-color: #ffffff;
	float: left;
	right: 400px;
	
	
}

#n {
	height: 20px;
	width: 450px;
	background-color: #ffffff;
	float: left;
	right: 900px;
	
}

#i {
	height: 20px;
	width: 400px;
	background-color: #ffffff;
	float: left;
	right: 900px;
}

#b {
	height: 20px;
	width: 350px;
	background-color: #ffffff;
	float: left;
	right: 900px;
}

#m {
	height: 20px;
	width: 300px;
	background-color: #ffffff;
	float: left;
	right: 900px;
}

#i2 {
	height: 20px;
	width: 250px;
	background-color: #ffffff;
	float: left;
	right: 900px;
}

#l {
	height: 20px;
	width: 200px;
	background-color: #ffffff;
	float: left;
	right: 900px;
}

#c {
	height: 20px;
	width: 150px;
	background-color: #ffffff;
	float: left;
	right: 900px;
}