#white {
	height: 70px;
	width: 80px;
	background-color: #ffffff;
	float: left;
	position: relative;

}



#spaceg {
	height: 20px;
	width: 500px;
	background-color: #ffffff;
	float: left;
	right: 400px;
}

#spacen {
	height: 20px;
	width: 450px;
	background-color: #ffffff;
	float: left;
	right: 900px;
}

#spacei {
	height: 20px;
	width: 400px;
	background-color: #ffffff;
	float: left;
	right: 900px;
}

#spaceb {
	height: 20px;
	width: 350px;
	background-color: #ffffff;
	float: left;
	right: 900px;
}

#spacem {
	height: 20px;
	width: 300px;
	background-color: #ffffff;
	float: left;
	right: 900px;
}

#spacei2 {
	height: 20px;
	width: 250px;
	background-color: #ffffff;
	float: left;
	right: 900px;
}

#spacel {
	height: 20px;
	width: 200px;
	background-color: #ffffff;
	float: left;
	right: 900px;
}

#spacec {
	height: 20px;
	width: 150px;
	background-color: #ffffff;
	float: left;
	right: 900px;
}