body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

#square {
    height: 400px;
    width: 400px;
    background-color: none;
    position: relative;
    top: 170px;
    left: 500px;
    border: 5px solid #000000;
}

#line1 {
   height: 165px;
    width: 25px;
    background-color: none;
    position: relative;
    top: -130px;
    left: 625px;
    transform: rotate(80deg);
    border: 2px solid #000000;
    border-right: none;
    border-top: none;
    border-bottom: none;
}

#line2 {
   height: 200px;
    width: 25px;
    background-color: none;
    position: relative;
    top: -237px;
    left: 610px;
    transform: rotate(-35deg);
    border: 2px solid #000000;
    border-right: none;
    border-top: none;
    border-bottom: none;
}

#line3 {
   height: 200px;
    width: 25px;
    background-color: none;
    position: relative;
    top: -465px;
    left: 770px;
    transform: rotate(-35deg);
    border: 2px solid #000000;
    border-right: none;
    border-top: none;
    border-bottom: none;
}

#line4 {
   height: 165px;
    width: 25px;
    background-color: none;
    position: relative;
    top: -533px;
    left: 738px;
    transform: rotate(80deg);
    border: 2px solid #000000;
    border-right: none;
    border-top: none;
    border-bottom: none;
}

#point1 {
    height: 12px;
    width: 10px;
    border: 2px solid #000000;
    border-left: none;
    border-top: none;
    border-bottom: none;
    background: none;
    position: relative;
    left: 700px;
    top: -650px;
    transform: rotate(20deg);
}

#point2 {
    height: 12px;
    width: 10px;
    border: 2px solid #000000;
    border-left: none;
    border-top: none;
    border-bottom: none;
    background: none;
    position: relative;
    left: 696px;
    top: -659px;
    transform: rotate(-20deg);
}

#pointline {
    height: 10px;
    width: 10px;
    border: 2px solid #000000;
    border-left: none;
    border-top: none;
    border-bottom: none;
    background: none;
    position: relative;
    left: 703px;
    top: -682px;
    transform: rotate(90deg);
}

#point3 {
    height: 25px;
    width: 10px;
    border: 2px solid #000000;
    border-left: none;
    border-top: none;
    border-bottom: none;
    background: none;
    position: relative;
    left: 703px;
    top: -698px;
    transform: rotate(20deg);
}

#point4 {
    height: 25px;
    width: 10px;
    border: 2px solid #000000;
    border-left: none;
    border-top: none;
    border-bottom: none;
    background: none;
    position: relative;
    left: 693px;
    top: -720px;
    transform: rotate(-20deg);
}

#pencil {
    height: 250px;
    width: 17px;
    border: 2px solid #000000;
    background: none;
    position: relative;
    left: 698.3px;
    top: -1000px;
    z-index: 2;
}

#metal {
    height: 30px;
    width: 17px;
    border: 2px solid #000000;
    background: none;
    position: relative;
    left: 698.3px;
    top: -1254px;
    z-index: 2;
    }

#oval5 {
    width: 16.5px;
    height: 4.5px;
    border: 2px solid #000000;
    background: none;
    -webkit-border-radius: 100px / 50px;
    -moz-border-radius: 100px / 50px;
    border-radius: 100px / 50px;
    left: 698px;
    top: -1040px;
    position: relative;
    z-index: 2;

}

#oval6 {
    width: 16.5px;
    height: 4.5px;
    border: 2px solid #000000;
    background: none;
    -webkit-border-radius: 100px / 50px;
    -moz-border-radius: 100px / 50px;
    border-radius: 100px / 50px;
    left: 698px;
    top: -1269px;
    position: relative;
    z-index: 2;

}

/*
#oval7 {
    width: 16.5px;
    height: 4.5px;
    border: 2px solid #000000;
    background: none;
    -webkit-border-radius: 100px / 50px;
    -moz-border-radius: 100px / 50px;
    border-radius: 100px / 50px;
    left: 648px;
    top: -1005px;
    position: relative;

}
*/

#eraser {
    height: 10px;
    width: 15px;
    border: 2px solid #000000;
    background: none;
    position: relative;
    left: 699px;
    top: -1317px;
    }

#oval7 {
    width: 15.5px;
    height: 4.5px;
    border: 2px solid #000000;
    background: none;
    -webkit-border-radius: 100px / 50px;
    -moz-border-radius: 100px / 50px;
    border-radius: 100px / 50px;
    left: 698.5px;
    top: -1334px;
    position: relative;
    z-index: 2;

}

#yellow {
    height: 220px;
    width: 18px;
    border: none;
    background: none;
    background-color: #ffd561; 
    position: relative;
    left: 704px;
    top: -1300px;
    opacity: 0.7;
    z-index: 1;
}

#gray {
    height: 20px;
    width: 17px;
    border: none;
    background: none;
    position: relative;
    background-color: #595959;
    left: 704px;
    top: -1545px;
    opacity: 0.5;
    }

    #pink {
    height: 15px;
    width: 17px;
    border: none;
    background: none;
    position: relative;
    background-color: #ff4775;
    left: 704px;
    top: -1585px;
    opacity: 0.5;
    }


#draw1{
    height: 120px;
    width: 25px;
    background-color: none;
    position: relative;
    top: -1450px;
    left: 680px;
    transform: rotate(100deg);
    border: 2px solid #000000;
    border-right: none;
    border-top: none;
    border-bottom: none;
}

#arrow {
    position: relative;
    font-size: 80;
    left: 950px;
    top: -1684px;
}

a:link {
    color: black;
    text-decoration: none;
}


a:visited {
    color: black;
}


a:hover {
    color: gray;
}


a:active {
    color: gray;
}
