body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

#square {
    height: 400px;
    width: 400px;
    background-color: none;
    position: relative;
    top: 170px;
    left: 500px;
    border: 5px solid #000000;
}

#oval1 {
	 width: 26px;
    height: 9.5px;
    border: 2px solid #000000;
    background: none;
	-webkit-border-radius: 100px / 50px;
    -moz-border-radius: 100px / 50px;
    border-radius: 100px / 50px;
    left: 554px;
    top: -177px;
    position: relative;
}

#oval2 {
	 width: 23px;
    height: 9.5px;
    border: 2px solid #000000;
    background: none;
	-webkit-border-radius: 100px / 50px;
    -moz-border-radius: 100px / 50px;
    border-radius: 100px / 50px;
    left: 553px;
    top: -100px;
    position: relative;

}

#oval3 {
	 width: 26px;
    height: 6.5px;
    border: 2px solid #000000;
    background: none;
	-webkit-border-radius: 100px / 50px;
    -moz-border-radius: 100px / 50px;
    border-radius: 100px / 50px;
    left: 545px;
    top: 66px;
    position: relative;

}

#rectangle {
    height: 270px;
    width: 25px;
    background-color: none;
    position: relative;
    top: -220px;
    left: 549.5px;
    transform: rotate(2deg);
    border: 2px solid #000000;
}

#smallrectangle {
	height: 5px;
	width: 20px;
	background-color: none;
	position: relative;
	top: -490px;
	left: 534px;
	border: 2px solid #000000;
	transform: rotate(-25deg);
}



#longrectangle {
    height: 100px;
    width: 7px;
    background-color: none;
    position: relative;
    top: -495px;
    left: 535px;
    transform: rotate(-1deg);
    border: 2px solid #000000;
}

#bottombox {
    height: 12px;
    width: 21px;
    background-color: none;
    position: relative;
    top: -335px;
    left: 547px;
    transform: rotate(3deg);
    border: 2px solid #000000;
}

#oval4 {
	width: 19px;
    height: 7.5px;
    border: 2px solid #000000;
    background: none;
	-webkit-border-radius: 100px / 50px;
    -moz-border-radius: 100px / 50px;
    border-radius: 100px / 50px;
    left: 548px;
    top: 72px;
    position: relative;

}

#point1 {
	height: 12px;
	width: 10px;
	border: 2px solid #000000;
	border-left: none;
	border-top: none;
	border-bottom: none;
	background: none;
	position: relative;
	left: 650px;
	top: -350px;
	transform: rotate(20deg);
}

#point2 {
	height: 12px;
	width: 10px;
	border: 2px solid #000000;
	border-left: none;
	border-top: none;
	border-bottom: none;
	background: none;
	position: relative;
	left: 646px;
	top: -359px;
	transform: rotate(-20deg);
}

#pointline {
	height: 10px;
	width: 10px;
	border: 2px solid #000000;
	border-left: none;
	border-top: none;
	border-bottom: none;
	background: none;
	position: relative;
	left: 653px;
	top: -382px;
	transform: rotate(90deg);
}

#point3 {
	height: 25px;
	width: 10px;
	border: 2px solid #000000;
	border-left: none;
	border-top: none;
	border-bottom: none;
	background: none;
	position: relative;
	left: 653px;
	top: -398px;
	transform: rotate(20deg);
}

#point4 {
	height: 25px;
	width: 10px;
	border: 2px solid #000000;
	border-left: none;
	border-top: none;
	border-bottom: none;
	background: none;
	position: relative;
	left: 643px;
	top: -420px;
	transform: rotate(-20deg);
}

#pencil {
	height: 250px;
	width: 17px;
	border: 2px solid #000000;
	background: none;
	position: relative;
	left: 648.3px;
	top: -700px;
	z-index: 2;
}

#metal {
	height: 30px;
	width: 17px;
	border: 2px solid #000000;
	background: none;
	position: relative;
	left: 648.3px;
	top: -954px;
	z-index: 2;
	}

#oval5 {
	width: 16.5px;
    height: 4.5px;
    border: 2px solid #000000;
    background: none;
	-webkit-border-radius: 100px / 50px;
    -moz-border-radius: 100px / 50px;
    border-radius: 100px / 50px;
    left: 648px;
    top: -740px;
    position: relative;
    z-index: 2;

}

#oval6 {
	width: 16.5px;
    height: 4.5px;
    border: 2px solid #000000;
    background: none;
	-webkit-border-radius: 100px / 50px;
    -moz-border-radius: 100px / 50px;
    border-radius: 100px / 50px;
    left: 648px;
    top: -969px;
    position: relative;
    z-index: 2;

}

/*
#oval7 {
	width: 16.5px;
    height: 4.5px;
    border: 2px solid #000000;
    background: none;
	-webkit-border-radius: 100px / 50px;
    -moz-border-radius: 100px / 50px;
    border-radius: 100px / 50px;
    left: 648px;
    top: -1005px;
    position: relative;

}
*/

#eraser {
	height: 10px;
	width: 15px;
	border: 2px solid #000000;
	background: none;
	position: relative;
	left: 649px;
	top: -1017px;
	}

#oval7 {
	width: 15.5px;
    height: 4.5px;
    border: 2px solid #000000;
    background: none;
	-webkit-border-radius: 100px / 50px;
    -moz-border-radius: 100px / 50px;
    border-radius: 100px / 50px;
    left: 648.5px;
    top: -1034px;
    position: relative;
    z-index: 2;

}

#paintbrush {
	height: 230px;
	width: 20px;
	border: 2px solid #000000;
	background: none;
	position: relative;
	left: 740px;
	top: -1040px;
	transform: rotate(-2deg);
	z-index: 2;
}

#oval8 {
	width: 19px;
    height: 8.5px;
    border: 2px solid #000000;
    background: none;
	-webkit-border-radius: 100px / 50px;
    -moz-border-radius: 100px / 50px;
    border-radius: 100px / 50px;
    left: 744.5px;
    top: -1047px;
    position: relative;
}
/*
#metal2 {
	height: 22px;
	width: 21px;
	border: 2px solid #000000;
	background: none;
	position: relative;
	left: 744px;
	top: -1054px;
	transform: rotate(-2deg);
}


#brushes1 {
	height: 40px;
	width: 3px;
	border: 2px solid #000000;
	background: none;
	position: relative;
	left: 744px;
	top: -1056px;
	transform: rotate(-2deg);
}

#brushes2 {
	height: 50px;
	width: 4px;
	border: 2px solid #000000;
	background: none;
	position: relative;
	left: 749px;
	top: -1100px;
	transform: rotate(-2deg);
}

#brushes3 {
	height: 60px;
	width: 3px;
	border: 2px solid #000000;
	background: none;
	position: relative;
	left: 755px;
	top: -1154px;
	transform: rotate(-2deg);
}

#brushes4 {
	height: 50px;
	width: 3px;
	border: 2px solid #000000;
	background: none;
	position: relative;
	left: 760px;
	top: -1218px;
	transform: rotate(-2deg);
}

#brushes5 {
	height: 45px;
	width: 3px;
	border: 2px solid #000000;
	background: none;
	position: relative;
	left: 765px;
	top: -1272px;
	transform: rotate(-2deg);
}


#brushes6 {
	height: 30px;
	width: 2px;
	border: 2px solid #000000;
	background: none;
	position: relative;
	left: 739px;
	top: -1391px;
	transform: rotate(-2deg);
}

*/

#brush1 {
	height: 22px;
	width: 10px;
	border: 2px solid #000000;
	border-left: none;
	border-top: none;
	border-bottom: none;
	background: none;
	position: relative;
	left: 731px;
	top: -1055px;
	transform: rotate(20deg);
}

#brush2 {
	height: 22px;
	width: 10px;
	border: 2px solid #000000;
	border-left: none;
	border-top: none;
	border-bottom: none;
	background: none;
	position: relative;
	left: 760px;
	top: -1074px;
	transform: rotate(-20deg);
}

#brush3 {
	height: 53px;
	width: 10px;
	border: 2px solid #000000;
	border-left: none;
	border-top: none;
	border-bottom: none;
	background: none;
	position: relative;
	left: 737px;
	top: -1077px;
	transform: rotate(-20deg);
}

#brush4 {
	height: 53px;
	width: 10px;
	border: 2px solid #000000;
	border-left: none;
	border-top: none;
	border-bottom: none;
	background: none;
	position: relative;
	left: 755px;
	top: -1133px;
	transform: rotate(20deg);
}

#brushline1 {
	height: 36px;
	width: 10px;
	border: 2px solid #000000;
	border-left: none;
	border-top: none;
	border-bottom: none;
	background: none;
	position: relative;
	left: 735px;
	top: -1200px;
	
}

#brushline2 {
	height: 39px;
	width: 10px;
	border: 2px solid #000000;
	border-left: none;
	border-top: none;
	border-bottom: none;
	background: none;
	position: relative;
	left: 755.5px;
	top: -1237px;
	
}

#brushline3 {
	height: 50px;
	width: 10px;
	border: 2px solid #000000;
	border-left: none;
	border-top: none;
	border-bottom: none;
	background: none;
	position: relative;
	left: 740px;
	top: -1275px;
	
}

#brushline4 {
	height: 50px;
	width: 10px;
	border: 2px solid #000000;
	border-left: none;
	border-top: none;
	border-bottom: none;
	background: none;
	position: relative;
	left: 751px;
	top: -1325px;
	
}

#brushline5 {
	height: 60px;
	width: 10px;
	border: 2px solid #000000;
	border-left: none;
	border-top: none;
	border-bottom: none;
	background: none;
	position: relative;
	left: 745.5px;
	top: -1372px;
	
}

#eraser2 {
    border-radius: 20px;
    border: 2px solid #000000;
    padding: 20px; 
    width: 30px;
    height: 70px;  
    position: relative;
    left: 800px;
    top: -1600px;
    transform: rotate(10deg);
    z-index: 2;

}

#eraserline {
	height: 72px;
	width: 10px;
	border: 2px solid #000000;
	border-left: none;
	border-top: none;
	border-bottom: none;
	background: none;
	position: relative;
	left: 832px;
	top: -1700px;
	transform: rotate(100deg);
}

#yellow {
	height: 220px;
	width: 18px;
	border: none;
	background: none;
	background-color: #ffd561; 
	position: relative;
	left: 655px;
	top: -1815px;
	opacity: 0.7;
}

#gray {
	height: 20px;
	width: 17px;
	border: none;
	background: none;
	position: relative;
	background-color: #595959;
	left: 655px;
	top: -2060px;
	opacity: 0.5;
	}

	#pink {
	height: 15px;
	width: 17px;
	border: none;
	background: none;
	position: relative;
	background-color: #ff4775;
	left: 655px;
	top: -2098px;
	opacity: 0.5;
	}

#pink2 {
	height: 50px;
	width: 72px;
	border: none;
	background: none;
	position: relative;
	background-color: #ff4775;
	left: 800px;
	top: -1983px;
	opacity: 0.5;
	transform: rotate(10deg);
	}


#brown {
	height: 230px;
	width: 25px;
	border: none;
	background-color: #8E481A;
	position: relative;
	left: 732px;
	top: -2167px;
	transform: rotate(-2deg);
	opacity: 0.6;
}

#blue{
	height: 180px;
	width: 28px;
	border: none;
	background-color: #28317f;
	position: relative;
	left: 555px;
	top: -2298px;
	opacity: 0.5;
	transform: rotate(2deg);
}

#black{
	height: 80px;
	width: 28px;
	border: none;
	background-color: #080919;
	position: relative;
	left: 560px;
	top: -2560px;
	opacity: 0.5;
	transform: rotate(2deg);
}

#arrow {
    position: relative;
    font-size: 80;
    left: 950px;
    top: -2643px;
}

a:link {
    color: black;
    text-decoration: none;
}


a:visited {
    color: black;
}


a:hover {
    color: gray;
}


a:active {
    color: gray;
}
