body {
	background: #ffffff;
	font-family: "Crimson Text", serif;
	font-size: 1em;
	line-height: 1.6em;
	margin-left: 200px;
	margin-right: 200px;
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: center;
}

p{
	text-align: left;
}

h3{
	font-style: bold;
	color:#007ACC;
	font-size: 1.30em;
	font-family: "Roboto Condensed",sans-serif;
	text-align: right;
}

h4{
	font-style: bold;
	color:#0099FF;
	font-size: 1.15em;
	font-family: "Roboto Condensed",sans-serif;
	text-align: center;
}


#title{
	font-family: "Roboto Condensed", sans-serif;
	color: #005C99;
	text-align: center;
	height: 
}

#subheader{
	text-align: center;
	margin-left: 50px;
	margin-right: 50px;
}

#byline{
	font-style: bold;
	text-align: center;
	font-size: 1em;
	color:#003D66;
}

#author{
	font-style: italic;
	color: #A3A3A3;
	font-size: .8em;	
}

