body {
	margin: auto;
}

#container {
	width: 100%;
	height: 100%;
	margin: auto;
}

#leftcolumn {
	width: 315px;
	height: 800px;
	position: fixed;
	background: black;
	float: left;
}

#search {
	margin-top: 290px;
	margin-left: 15px;
}

#circle {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	background: #faad50;
	opacity: 0.8;
	margin: 40px auto;
}

h3 {
	font-family: "Didot";
	font-size: 20px;
	text-align: center;
	color: #fff;
	opacity: 0.9;
}

#green_button {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: #00a651;
	opacity: 0.8;
	margin: 70px auto 15px auto;
}

#blue_button {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: #0072bc;
	opacity: 0.8;
	margin: 15px auto;
}

#submit_button {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: #ececed;
	opacity: 0.8;
	margin: 15px auto;
}

.imagetext {
	width: 100%;
	margin-left: 50px;
	float: left;
	background: black;
}

.images {
	float: left;
}

.text1 {
	border-bottom: 1px white solid;
	margin-top: 792px;
	padding-left: 10px;
	float: left;
	color: white;
}

.text2 {
	border-bottom: 1px white solid;
	margin-top: 391px;
	padding-left: 10px;
	float: left;
	color: white;
}

.text3 {
	border-bottom: 1px white solid;
	margin-top: 592px;
	padding-left: 10px;
	float: left;
	color: white;
}

.text4 {
	border-bottom: 1px white solid;
	margin-top: 316px;
	padding-left: 10px;
	float: left;
	color: white;
}

.text5 {
	border-bottom: 1px white solid;
	margin-top: 592px;
	padding-left: 10px;
	float: left;
	color: white;
}

.text6 {
	border-bottom: 1px white solid;
	margin-top: 442px;
	padding-left: 10px;
	float: left;
	color: white;
}

.hover_indo span {
	display: none;
	position: absolute;
	margin-left: -600px;
	margin-top: -350px;
	z-index: 1;
}

.hover_indo:hover span {
	display: block;
	z-index: 1;
}

.hover_usa span {
	display: none;
	position: absolute;
	margin-left: -600px;
	margin-top: -350px;
	z-index: 1;
}

.hover_usa:hover span {
	display: block;
	z-index: 1;
}

.hover_spore span {
	display: none;
	position: absolute;
	margin-left: -600px;
	margin-top: -350px;
	z-index: 1;
}

.hover_spore:hover span {
	display: block;
	z-index: 1;
}

img {
	width: 600px;
	margin-left: 320px;
	padding-top: 45px;
	padding-bottom: 45px;
}

p {
	font-family: "Avenir";
	font-size: 11px;
}

a {
	text-decoration: none;
}

h3:hover {
	color: #fc5881;
}