html{
  margin:0;
  padding:0;
  height:2000px;
}

p{
  font-family:Helvetica;
  color:black;
  font-size:108px;

}

a{
  font-family:Helvetica;
  text-decoration:none;
  color:black;
}


#clawrope{
  z-index:0;
  width:50px;
  height:1850px;
  margin-top:-20px;
  background-color:black;

}

#ropeaccent{
  z-index:1;
  width:5px;
  height:80px;
 
    -ms-transform: rotate(135deg); /* IE 9 */
    -webkit-transform: rotate(135deg); /* Chrome, Safari, Opera */
    transform: rotate(135deg);
  
  background-color:white;
}

#clawbase{
  width:500px;
  height:100px;
  background-color:black;
  position:relative;
  bottom:1450px;
}

#clawball{
  
  width:200px;
  height:200px;
  background-color:black;
  border-radius: 50% 50%;
  position:relative;
  top:-1500px;
}

#clawtopl{
  width:70px;
  height:500px;
  background-color:black;
    -ms-transform: rotate(60deg);
    -webkit-transform: rotate(60deg); /* Chrome, Safari, Opera */
    transform: rotate(60deg);
  position:relative;
  bottom:1750px;
  left:393px;
}

#clawtopr{
  width:70px;
  height:500px;
  background-color:black;
    -ms-transform: rotate(120deg);
    -webkit-transform: rotate(120deg); /* Chrome, Safari, Opera */
    transform: rotate(120deg);
  position:relative;
  bottom:2250px;
  left:950px;
}

#clawbacktop{
  width:70px;
  height:200px;
  background-color:black;
  position:relative;
  bottom:2550px;
  left:670px;
  
}

#clawbackbottom{
      position: relative;
      bottom:2550px;

    height: 20px; 
    width: 0px; 
    border-top: 200px solid black; 
    border-left: 40px solid transparent; 
    border-right: 40px solid transparent;
}

#clawmid{
  width:70px;
  height:200px;
  background-color:black;
  position:relative;
 
}

#clawbottomr{
  position: relative;
  top:-3030px;
  left:310px; 
  height: 2px; 
  width: 8px; 
  -webkit-transform: skew(62deg); 
  transform: skew(62deg); 
  border-top: 100px solid black; 
  border-left: 100px solid black; 
  border-right: 100px solid transparent; 
  border-bottom: 100px solid transparent; 
}

#clawbottoml{
  position: relative;
  top:-3240px;
  left:980px; 
  height: 2px; 
  width: 8px; 
  -webkit-transform: skew(132deg); 
  transform: skew(132deg); 
  border-top: 100px solid black; 
  border-left: 100px solid black; 
  border-right: 100px solid transparent; 
  border-bottom: 100px solid transparent; 
}
