img {
    -webkit-transform: rotate(90deg); 
    -moz-transform: rotate(90deg);   
    -ms-transform: rotate(90deg);   
    -o-transform: rotate(90deg); 
    transform: rotate(90deg);
    margin-top: 200px;
} 

div {

	height: 300px;
	width: 800px;
}