p{
	font-family: "Nova Square", sans-serif;
}

#name{
	height: 10px;
	width: 500px;
	left: 50px;
	position: fixed;
}

.name{
	font-size: 3.4em;
	color: #1f3e7a;
}

#class{
	width: 110px;
	position: absolute;
	left: 165px;
	top: 110px;
}

.class{
	font-size: .5em;
	color: #1f3e7a;
	left: 50px;
	top: 115px;
}

.subtitles{
	font-size: 1.25em;
	color: #2952a3;
	margin-left: 20px;
}

#projects{
	border: 2px solid #1f3e7a;
	border-radius: 5%;
	height: 250px;
	width: 215px;
	position: absolute;
	top: 150px;
	left: 50px;
}

#exercises{
	border: 2px solid #1f3e7a;
	border-radius: 5%;
	height: 335px;
	width: 215px;
	position: absolute;
	top: 150px;
	left: 290px;
}

#codecademy{
	border: 2px solid #1f3e7a;
	border-radius: 5%;
	height: 250px;
	width: 215px;
	position: absolute;
	top: 150px;
	left: 530px;
}

a{
	font-family: "Nova Square", sans-serif;
	font-size: 1em;
	margin-right: 15px;
	text-align: right;
}

.link{
	line-height: 10px;
	text-align: right;
}