body {
	background: #7BE1F0;
	background: linear-gradient(to right bottom, #33D8F0, #186570 25%, #5CA7B2);
	background: -webkit-linear-gradient(to right bottom, #33D8F0, #186570 25%, #5CA7B2);
	background: -moz-linear-gradient(to right bottom, #33D8F0, #186570 25%, #5CA7B2);
}

#container {
	width: 900px;
	height: 500px;
}

p {
	color: white;
	font-size: 3em;
	font-family: 'Special Elite', cursive;
}

a:link {
	color: #B200A8;
	text-decoration: overline;
}

a:visited {
	color: #4FFF00;
}

a:hover {
	color: #FF00FF;
}

a:active {
	color: #000FFF;
}
