#margintop { height: 199px;
		     background-color: white;

}


h1 { font-family: 'Abril Fatface', cursive;
			color: teal;
			letter-spacing: -1px;
			font-weight: lighter;
			font-size: 29px;
			margin-left: 33px;
			text-decoration: none;

}

h2 { font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
			color: teal;
			font-size: 16px;
			margin-left: 33px;
			text-decoration: none;
}



.project1 { font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
			color: teal;
			font-weight: lighter;
			font-size: 18px;
			margin-left: 33px;
			text-decoration: none;

}

.project2 { font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
			color: teal;
			font-weight: lighter;
			font-size: 18px;
			margin-left: 33px;
			text-decoration: none; 
		}


.exercise1 { font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
			color: teal;
			font-weight: lighter;
			font-size: 18px;
			margin-left: 33px;
			text-decoration: none;
		}

.exercise2n3 { font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
			color: teal;
			font-weight: lighter;
			font-size: 18px;
			margin-left: 33px;
			text-decoration: none;
		}

.exercise6 { font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
			color: teal;
			font-weight: lighter;
			font-size: 18px;
			margin-left: 33px;
			text-decoration: none;
		}

.exercise7{ font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
			color: teal;
			font-weight: lighter;
			font-size: 18px;
			margin-left: 33px;
			text-decoration: none;
		}

.exercise8{ font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
			color: teal;
			font-weight: lighter;
			font-size: 18px;
			margin-left: 33px;
			text-decoration: none;
		}