body {
  background: #ffffff;
  padding: 0px 0;
}
.my-container {
    position: relative;
    background: #fdf6f6;
    overflow: hidden;
    height: 990px;
}

.my-container:before {
    content: ' ';
    
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 1.0;
    background-image: url('../images/paul-mccartney-esquire-promo-43.jpg');
    background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}





p#paul {
	color: #ffffff;
	font-family: 'Comfortaa', cursive;
	letter-spacing: .9em;
	font-size: 200%;
	text-align: center;
	font-weight: lighter;
	letter-spacing: 0px;
	text-align: center;
	z-index: 4;
	width: 1350px;
	top: 50px;
	left: 400px;
	position: absolute;
}

p#rock {
	color: #ffffff;
	font-size: smaller;
	line-height: 40%;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: lighter;
	letter-spacing: 0px;
	text-align: center;
	z-index: 4;
	width: 1350px;
	top: 200px;
	left: 400px;
	position: absolute;
}

#bluebox {
    top: -50px;
    width: 100%;
    height: 620px;
    background-color: white;
}


#yellow {
    width: 800px;
    height: 530px;
    left: 200px;
    background-image: url('../ram_scans/yellowtexture.png');
    background-repeat: no-repeat;
    position: relative;
}

p#description {
    color: #ffffff;
    font-size: 135%;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: lighter;
    text-align: left;
    width: 600px;
    height: 300px;
    padding: 30px;
    top: -25px;
    left: 50px;
    position: absolute;
    line-height: 150%;
}

#purple {
    width: 990px;
    height: 900px;
    left: 400px;
    top: -800px;
    background-image: url('../ram_scans/purpletexture.png');
    background-repeat: no-repeat;
    position: relative;
}

p#description2 {
    color: #ffffff;
    font-size: 150%;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: lighter;
    text-align: left;
    width: 600px;
    height: 300px;
    padding: 30px;
    top: 50px;
    left: 170px;
    position: absolute;
    line-height: 150%;
}

#ram {
    width: 900px;
    height: 900px;
    left: 640px;
    top: -500px;
    background-image: url('../images/rambw.png');
    background-repeat: no-repeat;
    position: relative;
}

#currentpaul {
    top: 2800px;
    width: 100%;
    height: 2000px;
    background-color: white;
    background-image: url('../images/grass2.png');
    background-repeat: no-repeat;
    position: absolute;
}

#interview {
    left: 200px;
    top: 3000px;
    width: 600px;
    height: 500px;
    padding: 50px;
    position: absolute;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: lighter;
    background-color: #ffffff;
    text-align: left;
    font-size: 140%;
    line-height: 130%;
}

#interview2 {
    left: 200px;
    top: 4200px;
    width: 600px;
    height: 500px;
    padding: 50px;
    position: absolute;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: lighter;
    z-index: 0;
    text-align: left;
    font-size: 140%;
    line-height: 130%;
}



#redzigzag {
    width: 900px;
    height: 1650px;
    left: 840px;
    top: 2450px;
    background-image: url('../images/redzigzag.png');
    background-repeat: no-repeat;
    position: relative;
}

#bwpaul {
    content: ' ';
    
    position: absolute;
    left: 0;
    top: 5900px;
    width: 100%;
    height: 2000px;
    z-index: 10;
    opacity: 1.0;
    background-image: url('../images/mjYG9.jpg');
    background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}

#interview3 {
    left: 200px;
    top: 1000px;
    width: 600px;
    height: 740px;
    padding: 50px;
    position: absolute;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: lighter;
    background-color: #ffffff;
    text-align: left;
    font-size: 140%;
    line-height: 130%;
}



#interview4 {
    color: #000000;
    font-size: 140%;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: lighter;
    text-align: left;
    width: 600px;
    height: 300px;
    padding: 30px;
    top: 1990px;
    left: 650px;
    position: absolute;
    line-height: 150%;
}

#lines {
    width: 900px;
    height: 1650px;
    left: -750px;
    top: 3800px;
    background-image: url('../ram_scans/linestexture.png');
    background-repeat: no-repeat;
    position: relative;
}


#paulandlinda {
    content: ' ';
    
    position: absolute;
    left: 0;
    top: 3700px;
    width: 100%;
    height: 2000px;
    z-index: 10;
    opacity: 1.0;
    background-image: url('../images/46.jpg');
    background-repeat: no-repeat;
    background-position: 20% 20%;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}




#interview5 {
    color: #000000;
    font-size: 140%;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: lighter;
    text-align: left;
    width: 620px;
    height: 970px;
    top: 200px;
    left: 100px;
    padding: 40px;
    position: absolute;
    background-color: #ffffff;
    line-height: 150%;
}

#top {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: lighter;
    text-align: center;
    top: 9000px;
    width: 700px;
    height: 700px;
    background-color: #000000;
}