div{
	position: fixed;
}

.base{
	height: 600px;
	width: 350px;
	background: #4c331a;
	top: 100px;
	left: 550px;
}

.base1{
	height: 560px;
	width: 280px;
	border: 5px solid #86592d;
	background-color: #86592d;
	top: 130px;
	left: 580px;
}

.decoration1{
	height: 150px;
	width: 75px;
	border: 5px solid #4c331a;
	background-color: #996633;
	top: 175px;
	left: 625px;
}

.decoration2{
	height: 150px;
	width: 75px;
	border: 5px solid #4c331a;
	background-color: #996633;

	top: 175px;
	left: 750px;
}

.decoration3{
	height: 150px;
	width: 75px;
	border: 5px solid #4c331a;
	background-color: #996633;
	top: 375px;
	left: 625px;
}

.decoration4{
	height: 150px;
	width: 75px;
	border: 5px solid #4c331a;
	background-color: #996633;
	top: 375px;
	left: 750px;
}

.decoration5{
	height: 75px;
	width: 200px;
	border: 5px solid #4c331a;
	background-color: #996633;
	top: 575px;
	left: 625px;
}

.doorknob_base{
	height: 50px;
	width: 15px;
	border-radius: 15%; 
	background-color: #999999;
	top: 425px;
	left: 592px;
}

.doorknob_handle{
	height: 5px;
	width: 30px;
	background-color: #595959;
	top: 435px;
	left: 598px;
}


.navigation_left{
	border-left: 25px solid transparent;
    border-right: 25px solid black;
    border-bottom: 25px solid transparent;
    border-top: 25px solid transparent;
    top: 360px;
    left: 400px;
}

.navigation_left:hover{
	border-left: 25px solid transparent;
    border-right: 25px solid #C0C0C0;
    border-bottom: 25px solid transparent;
    border-top: 25px solid transparent;
    top: 360px;
    left: 400px;
}

.navigation_right{
	border-left: 25px solid black;
    border-right: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-top: 25px solid transparent;
    top: 360px;
    left: 1000px;
}

.navigation_right:hover{
	border-left: 25px solid #C0C0C0;
    border-right: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-top: 25px solid transparent;
    top: 360px;
    left: 1000px;
}
