div{
	position: fixed;
}

.doorknob_base{
	height: 400px;
	width: 165px;
	border-radius: 10%;
	background-color: #808080;
	top: 150px;
	left: 575px;
}

@keyframes handle{
	0%{-webkit-transform: rotate(0deg);}
	50%{-webkit-transform: rotate(8deg);}
	100%{-webkit-transform: rotate(0deg);}
}

.doorknob_handle{
	height: 45px;
	width: 265px;
	background-color: #999999;
	top: 225px;
	left: 630px;
}

.doorknob_handle:hover{
	animation-name: handle;
    animation-duration: 4s;
    animation-delay: .5s;
    animation-iteration-count: infinite;
}


.keyhole1{
	height: 40px;
	width: 40px;
	border-radius: 50%;
	border: 2px solid #999999;
	background-color: #999999;
	top: 360px;
	left: 635px;
}

.keyhole2{
	height: 70px;
	width: 30px;
	top: 375px;
	left: 640px;
	border: 2px solid #999999;
	background-color: #999999;
	border-radius: 40%
}

.keyhole3{
	height: 20px;
	width: 8px;
	top: 380px;
	left: 653px;
	background-color: black;
}

/*.keyhole4{
	height: 0px;
	width: 0px;
	height: 0px;
	width: 0px;
	border-left: 1px solid transparent;
    border-right: 3px solid #999999;
    border-bottom: 1px solid transparent;
    border-top: 3px solid transparent;
    top: 283px;
    left: 132px;
}*/

.navigation_left{
	border-left: 25px solid transparent;
    border-right: 25px solid black;
    border-bottom: 25px solid transparent;
    border-top: 25px solid transparent;
    top: 360px;
    left: 400px;
}

.navigation_left:hover{
	border-left: 25px solid transparent;
    border-right: 25px solid #C0C0C0;
    border-bottom: 25px solid transparent;
    border-top: 25px solid transparent;
    top: 360px;
    left: 400px;
}

.navigation_right{
	border-left: 25px solid black;
    border-right: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-top: 25px solid transparent;
    top: 360px;
    left: 1000px;
}

.navigation_right:hover{
	border-left: 25px solid #C0C0C0;
    border-right: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-top: 25px solid transparent;
    top: 360px;
    left: 1000px;
}